sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '6'
  - '4'
  - '0.12'
  - '0.10'
before_install:
  - npm i -g npm@^3.0.0
before_script:
  - npm prune
script:
  - npm start validate
after_success:
  - 'curl -Lo travis_after_all.py https://git.io/travis_after_all'
  - python travis_after_all.py
  - export $(cat .to_export_back) &> /dev/null
  - npm start report-coverage
  - npm start release
branches:
  only:
    - master
